<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %> Filmci</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Filmci</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <%= active_link_to 'Anasayfa', root_path, :wrap_tag => :li %>
        <%= active_link_to 'Hakkkında', about_path, :wrap_tag => :li %>
        <%= active_link_to 'İletişim', contact_path, :wrap_tag => :li %>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <%= active_link_to 'Yeni Film Ekle', new_movie_path, :wrap_tag => :li %>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<div class="container">
  <% if flash.notice %>
  <div class="alert alert-info" role="alert">
    <%= flash.notice %>
  </div>
  <% end %>
  
	<%= yield %>
</div>

</body>
</html>
